.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.fa-rocket{
    color: #D61C4E;
    margin-right: 7px;
}

a{
    font-size: 16px;
    font-weight: normal;
    color: #EEE6E6;
}

.fa-circle-user{
    margin-left: 7px;
}

i{
    color: #EEE6E6;
}

h2{
    font-size: 24px;
    font-weight: normal;
    color: #EEE6E6;
}

h1{
    font-size: 30px;
    font-weight: bolder;
    color: #EEE6E6;
}

p{
    font-size: 16px;
    font-weight: normal;
    color: #EEE6E6;
}

body{
    display: grid;
    grid-template-areas: 'header'
                        'home'
                        'footer';
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-left: 200px;
    padding-right: 200px;
    background: linear-gradient(180deg, rgba(22,33,62,1) 0%, rgba(22,33,62,1) 35%, rgba(0,3,11,1) 100%);
    grid-area: home;
}

main ul{
    list-style: none;
}

.mosaico{
    margin-top: 20px;
    display: grid;
    /*grid-template-columns: repeat(4,1fr);
    grid-template-rows: 2;
    grid-gap: 10px;*/ 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
        "m1 m1 m2 m3"
        "m1 m1 m6 m6"
        "m4 m5 m6 m6"; 
}

.m1{
    grid-area: m1;
}

.m2{
    grid-area: m2;
}

.m3{
    grid-area: m3;
}

.m4{
    grid-area: m4;
}

.m5{
    grid-area: m5;
}

.m6{
    grid-area: m6;
}

.track .card{
    margin-right: 11px;
}

.card{
    height: 132px;
    width: 214px;
    border-radius: 15px;
    border: 4.5px solid #3E1F6E;
    display: flex;
}

.card-grande{
    height: 264px;
    width: 450px;
    border-radius: 15px;
    border: 4.5px solid #3E1F6E;
}

.card-grande img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 10px;
}

 .card .content-card{
    display: flex;
    position:absolute;
    width: 205px;
    height: 123px;
    border-radius: 10px;
    padding: 10px;
    background-color: #3E1F6E80;
    flex-direction: column;
}

.card img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 10px;
}


footer{
    grid-area: footer;
    height: 410px;
    display: flex;
    flex-direction: column;
    background-color: #3E1F6E;
}

footer .lists{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer .lists .logo-footer{
    display: flex;
    align-items: center;
}

footer .copy{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
}

footer .copy p{
    font-weight: lighter;
}

footer .lists label{
    font-size: 16px;
    font-weight: bold;
    color: #EEE6E6;
    border-bottom: 2px dashed #D61C4E;
    margin-bottom: 10px;
}

footer .lists .lista-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer .lists .lista-footer ul{
    list-style-position: inside;
}

header{
    padding-left: 40px;
    padding-right: 40px;
    height: 75px;
    width: 100%;
    grid-area: header;
    position: sticky;
    display: flex;
    background-color: #533483;
}

header ul{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header ul li{
    display: flex;
    align-items: center;
}

/*https://codepen.io/zebateira/pen/zrvwGR*/

  .carousel-container {
    width: 70rem;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    display: block;
  }
  @media (max-width: 768px) {
    .carousel-container {
    }
  }
  .inner-carousel {
    width: 100%;
    /* height: 400px; */
    overflow: hidden;
  }
  .track {
    display: inline-flex;
    height: 100%;
    transition: transform 0.2s ease-in-out;
  }
  .nav button {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
  }
  .nav .prev {
    left: -30px;
    display: none;
  }
  .nav .prev.show {
    display: block;
  }
  .nav .next {
    right: -30px;
  }
  .nav .next.hide {
    display: none;
  }
  